<div class="d-flex">
  <!-- SIDEBAR -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action"> Dashboard </a>
    </div>
  </div>
  <!-- END SIDEBAR -->

  <!-- CONTAINER -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs..." />
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, omnis fuga. Ex sequi voluptate, veritatis omnis quam quod aperiam sed corrupti iste. Nisi cumque, in tempora deleniti recusandae maiores natus?
      </div>
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
